* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-image: url('.//images/watercolor.png');
}

header{
    background-color: navy;
    padding: 5px;
    margin: auto;
}

h1{
    color: white;
    font-family: sans-serif;
}

nav {
    color: white;
    
}

.container{
    max-width: 800px;
    margin: 0 auto;
}

p {
    margin: 15px 0;
    line-height: 140%;
}

