* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-image: url('.//images/watercolor.png');
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header{
    background-color: rgb(249, 246, 248);
    padding: 24px 0;
    border-bottom: 1pt solid navy;
}

nav {
    display: flex;
}

.logo, .link {
    color: navy;
    text-decoration: none;
    font-family: sans-serif;
}

.logo {
    margin-right: auto;
    font-size: 24px;
}

.link{
    margin: 0 4px;
}

.container{
    max-width: 850px;
    margin: 0 auto;
    padding: 0 12px;
}

main {
    background-color: rgb(249, 246, 248);
    display: flex;
    flex-direction: column;
    width: 65%;
    padding: 20px;
}

.main-content{
    padding-top: 20px ;
    display: flex;
    align-items: flex-start;
}

.self{
    float: left;
    margin: 0 10px 10px 0; 
    width: 200px;
    padding-top: 10px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: .5px solid navy;
    margin: 1em 0;
    padding: 0;
}

h1{
    font-family: sans-serif;
    color: navy;
    font-size: 25px;
}

p {
    margin: 15px 0;
    line-height: 1.2;
    padding-left: 20px ;
}

aside{
    display: flex;
    background-color: rgb(249, 246, 248);
    justify-content: flex-end;
    margin-left: auto;
    max-width: fit-content;
    padding: 10px;
    align-self: flex-start;
    

}

aside img {
    box-shadow: 3px 3px 3px darkgrey;
    width: 40px;
    margin-right: 9px;

}

footer{
    background-color: navy;
    margin-top: auto;
    text-align: center;
}

footer p {
    color: white;
}
