* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-image: url('.//images/watercolor.png');
    min-height: 100vh;
}

header{
    background-color: navy;
    padding: 24px;
    margin: 0 auto;
}

h1{
    
}

nav {
    display: flex;
}

.logo, .link {
    color: white;
    text-decoration: none;
}

.logo {
    margin-right: auto;
}

.link{
    margin: 0 4px;
}

.container{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 12px;
}

p {
    margin: 15px 0;
    line-height: 140%;
}

footer{
    background-color: navy;
    padding: 5px;
    margin: 0 auto;
    min-height: 50px;
}

footer p {
    color: white;
}
